# .gitignore 파일 내용
/*
# Ignore everything

# But not these directories
!/Assets/
!/Packages/
!/ProjectSettings/
!/UserSettings/
!.gitattributes
!.gitignore

# Ignore all files in /Assets/Scripts/Secret/
# Assets/Scripts/Secret/*
